* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: open , sans;
}

/* Animated Navbar Styles */
.animated-navbar {
    background-color: #95bdf9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.animated-navbar .logo a {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    /* text-align: center; */
}

.animated-navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    /* padding: 0; */
    /* gap: 10px; */
}

.animated-navbar ul li {
    position: relative;
    margin: 0 20px;
}

.animated-navbar ul li a {
    color: #333;
    font-size: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

.animated-navbar ul li a::after {
    content: '';
    display: block;
    height: 2px;
    background: #ffcc00;
    width: 0;
    transition: width 0.3s;
    position: absolute;
    /* left: 50%; */
    bottom: -2px;
}

.animated-navbar ul li a:hover::after {
    width: 100%;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.logo a {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

ul li {
    position: relative;
}

ul li a {
    font-size: 18px;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ffcc00;
} */

.register-button a {
    /* background-color: #28a745; */
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* .register-button a:hover {
    background-color: #218838;
} */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    /* background: white; */
    background-color: #f9f9f9;
}

.form-group {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

h3 {
    text-align: center;
    /* color: #333; */
    color: #0056b3;
    font-size: 25px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 20px;
}

input[type="text"],
select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

input[type="reset"] {
    background-color: #dc3545;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.9;
}

