*{
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 14px;
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
}

.navbar {
    background-color: #0056b3;
    padding: 15px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.navdiv .logo a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 40px;
}

ul li a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover,
ul li a.active {
    text-decoration: underline;
}


/* button{
    height: 35px;
    width: 100px;
    color: blue;
    background-color: #d7dce1;
    border-radius: 10px;
    border: none; 
}*/

.form-group {
    background: white;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #218838; /* Darker shade on hover */
}

.btn button:nth-child(2) {
    background-color: #dc3545; /* Red color for "No" */
}

.btn button:nth-child(2):hover {
    background-color: #c82333; /* Darker shade on hover */
}